{erl_first_files, [
    "libs/comment/src/mgr/cache_srv.erl",
    "libs/cache/src/cache_behaviour.erl"
]}.

{sub_dirs, [
    "deps/deps_lager",
    "deps/deps_goldrush",
%%    "deps/cowlib",
%%    "deps/ranch",
%%    "deps/cowboy",
%%    "deps/emysql",
%%    "deps/eredis_pool",
%%    "deps/eredis",
%%    "deps/poolboy",
%%    "deps/rfc4627_jsonrpc",
%%    "deps/jiffy",
%%    "deps/mochiweb",
    
    "libs/common",
    "libs/cache",
    "libs/network",
    
    "apps/mgr",
    "apps/http",
    "apps/push",
    "apps/db",
    "apps/im",
    
    "obj"
]}.


{erl_opts, [
    {parse_transform, lager_transform},
    no_debug_info
%%    debug_info,

%%    warnings_as_errors,
]}.
