[submodule ".\\Server\\libs\\cache"]
	path = .\\Server\\libs\\cache
	url = https://github.com/yujian1018/cache
[submodule ".\\Server\\libs\\network"]
	path = .\\Server\\libs\\network
	url = https://github.com/yujian1018/network
[submodule ".\\Server\\libs\\common"]
	path = .\\Server\\libs\\common
	url = https://github.com/yujian1018/libs_erl
[submodule ".\\Server\\libs\\parse_tool"]
	path = .\\Server\\libs\\parse_tool
	url = https://github.com/yujian1018/parse_tool
