%% -config sys

[
    {db,
        [
            {is_mnesia, true},
            {is_mysql, true},
            {is_redis, true},
            {mnesia_dir, "./mnesia_db"}
        ]},
    
    {emysql, [
        {default_timeout, 30000}
    ]},
    
    {lager, [
        {log_root, "log/db/"}
    ]}
].
