{erl_opts, [
%%    {debug_info_key, {des3_cbc, "aaa"}}
    no_debug_info
%%    debug_info,
%%    warnings_as_errors,
%%    export_all,
]}.


{project_app_dirs, [
    "lib/common",
    "lib/cache",
    "lib/network",
    "apps/global",
    "frame",
    "storm",
    "gateway",
    "user",
    "db",
    "knowledge/baike",
    "knowledge/education",
    "knowledge/health",
    "knowledge/health_2",
    "knowledge/pt",
    "knowledge/tutor",
    "assistant"
]}.


%%
{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},
    {dev, [
        {relx, [
            {dev_mode, true},
            {include_erts, true}
        ]}
    ]},
    {native, [
        {erl_opts, [{native, o3}]}
    ]}
]}.


{relx, [
    {release,
        {health, "3.0.17"},
        [
            cowboy,emysql,jsx,
            cache, common,
            frame, storm, gateway, user, db,
            baike, education, health, health_2, pt, tutor, assistant,
            kernel,
            stdlib,
            sasl,
            erts
        ]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
%%    {include_erts, true},

    {extended_start_script, true}]
}.


{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.4.0"}}},
    {emysql, {git, "https://github.com/Eonblast/Emysql", {tag, "v0.4.1"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx", {tag, "v2.9.0"}}}
%%    {jiffy, {git, "https://github.com/davisp/jiffy", {tag, "0.15.2"}}},

%%    {cache, {git, "https://github.com/yujian1018/cache", {tag, "1.0.0"}}},
%%    {cache_ets, {git, "https://github.com/yujian1018/cache", {tag, "1.0.0"}}}
%%    {libs_erl, {git, "https://github.com/yujian1018/common", {tag, "1.0.0"}}},
%%    {parse_tool, {git, "https://github.com/yujian1018/parse_tool", {tag, "1.0.0"}}}
]}.
