[
    {emysql, [
        {default_timeout, 30000},
        {pools,
            [
                {pool_account_1, [
                    {size, 1},
                    {host, "115.159.22.131"},
                    {port, 27199},
                    {user, "root"},
                    {password, "123456"},
                    {database, "game_user"},
                    {encoding, 'utf8mb4'}]},
                
                {pool_dynamic_1, [
                    {size, 1},
                    {host, "115.159.22.131"},
                    {port, 27199},
                    {user, "root"},
                    {password, "123456"},
                    {database, "game_d_1"},
                    {encoding, 'utf8mb4'}]},
                
                {pool_log_1, [
                    {size, 1},
                    {host, "115.159.22.131"},
                    {port, 27199},
                    {user, "root"},
                    {password, "123456"},
                    {database, "game_log_1"},
                    {encoding, 'utf8mb4'}]},
                
                {pool_static_1, [
                    {size, 1},
                    {host, "115.159.22.131"},
                    {port, 27199},
                    {user, "root"},
                    {password, "123456"},
                    {database, "game_s_1"},
                    {encoding, 'utf8mb4'}]}
            ]}
    ]}
].
