%% -config sys

[
    {mnesia, [
        {dc_dump_limit, 40},
        {dump_log_write_threshold, 10000},
        {dir, "game.db"}
    ]},
    {lager, [
        {colored, true},
        {colors, [
            {none, "\e[0;34m"},
            {debug, "\e[0;35m"},
            {info, "\e[0m\e[32m"},
            {notice, "\e[1m\e[34m"},
            {warning, "\e[1m\e[33m"},
            {error, "\e[1m\e[31m"},
            {critical, "\e[0;36m"},
            {alert, "\e[0;36m"},
            {emergency, "\e[0;36m"}
        ]},
        {log_root, "log/"},
        {crash_log, "crash.log"},
        {crash_log_size, 104857600},
        {crash_log_date, "$D6"},
        {crash_log_count, 14},

        {killer_hwm, 1000}, %如果gen_event邮箱超过可配置的标记，则在可配置的时间后，将被终止并重新安装 这意味着如果接收器的邮箱大小超过1000条消息，则终止整个接收器并在5000毫秒后重新加载它
        {killer_reinstall_after, 5000},
        {handlers, [
            {lager_console_backend, [
                {level, debug},
                {formatter, lager_default_formatter},
                {formatter_config, [color, message, "\e[m\n"]}
            ]},
            {lager_file_backend, [{file, "error.log"}, {level, '=error'}, {date, "$D6"}, {size, 104857600}, {count, 7}]},
            {lager_file_backend, [{file, "warn.log"}, {level, '=warning'}, {date, "$D6"}, {size, 104857600}, {count, 7}]}
        ]}
    ]}
].
