{erl_opts, [
    {parse_transform, lager_transform},
    no_debug_info,
%%    debug_info,
%%    warnings_as_errors,
%%    export_all,
    {d, obj_server_app_name, gm},
    {d, debug},
%%    {d, product},
    
    {src_dirs, [
        "src",
        "../apps/gm/src",
        "test"
    ]},
    
    {i, "../apps/gm/include"},
    {i, "include"}
]}.


