# Created by .ignore support plugin (hsz.mobi)
.svn
.idea
.rebar
ebin
/log
_auto
deps/
erl_crash.dump
game_*.tar.gz
apps/http/priv/docroot/api
apps/im/priv/docroot/api
apps/etc/proto/logic/priv/docroot/api
im/priv/docroot/api
apps/etc/proto/logic/test_frame
_build
rebar.lock